.groupchat-messages-container-div {
    display: flex;
    justify-content: center;
}
.groupchat-users-container-div {
    display: flex;
    justify-content: center;
}
.groupchat-messages-container-div > .groupchat-messages-div {
    border: 1px solid indigo;
    height: 50vh;
    width: 70%;
}
.groupchat-messages-container-div > p {
    height: 10vh;
}
.groupchat-users-container-div > .groupchat-users-div {
    border: 1px solid indigo;
    height: 50vh;
    width: 70%;
}
.groupchat-users-container-div > p {
    height: 10vh;
}