@media(min-width: 1200px){

.landing-image {
    /* background: hotpink; */
    padding-top: 2%;
    display: flex;
    justify-content: center;
    opacity: 0.5;
}

h1, h2 {
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

h1 {
    font-size: 350%;
}

h2 {
    font-size: 100%;
}

.button-login {
    justify-content: center;
    display: flex;
    padding-top: 2%;
}

.login {
    color: black;
}
}