.register-container-div{
    display: grid;
    grid-template-columns: 10% 80% 10%;
    grid-template-rows: 10% 70% 20%;
    width: 100%;
}

.register-container-div > *{
    grid-column: 2/2;
    width: 100%;
}
.register-container-div > h4{
    grid-row: 1/1;
    height: 100%;
    justify-content: center;
    display: flex;

}

