.dashboard-className {
    min-height: 81.4vh;
}
.dashboard-className > span {
    font-size: 2.5em
}
.dashboard-container-div {
    grid-template-rows: 80% 20%;
    grid-template-columns: 5% 90% 5%;
}
.dashboard-container-div > * {
    grid-row: auto;
    grid-column: 2/2;
}
.dashboard-user-div {
    text-align: center;
    width: 100%;
    display: grid;
    grid-template-columns: 10% 40% 40% 10%;
    grid-template-rows: 15% 15% 15% 15% 15% 15% 15%;
}
.dashboard-user-div > * {
    grid-row: auto;
    margin: 2.5%;
}
.dashboard-user-div > *:first-child {
    grid-column: 2/2;
    grid-row: 1/7 !important;
}
.dashboard-user-div > span {
    grid-column: 3/3;
    margin: 2.5%;
    font-size: 1.5em;
}
