.group-page-container-div {
    width: 100%;
}
.group-page-div {
    display: grid;
    grid-template-columns: 15% 70% 15%;
    grid-template-rows: 15% 15% 15% 15% 15% 15% 15%;
}
.group-page-div > * {
    grid-column: 2/2;
    grid-row: auto;
}
.group-image-div {
    /* height: 20%; */
    width: 100%;
}
.group-image-div > .group-page-image {
    height: 100%;
    width: 100%;
} 
/*Chip Styling */
.group-page-div > h3:nth-child(4) {
    display: flex;
    align-items: center;
}
.group-page-div > h3:nth-child(4) > *:nth-child(1) {
    margin-left: 50px;
}
.groupchat-container {
    width: 100%;
}
.groupchat-container > *:nth-child(3) {
    width: 100%;
}
.groupchat-container > *:last-child {
    width: 100%;
}
.groupchat-messages-container-div {
    display: grid;
    grid-template-rows: 20% 80%;
    width: 100%;
    /* background: blue; */

}
.groupchat-messages-container-div > *:first-child {
    display: flex;
    align-items: center;
    justify-content: center;
}
.groupchat-users-container-div {
    display: grid;
    grid-template-rows: 20% 80%;
    width: 100%;
    /* background: red; */
}
.groupchat-users-container-div > *:first-child {
    display: flex;
    align-items: center;
    justify-content: center;
}
.groupchat-messages-container-div > .groupchat-messages-div {
    border: 1px solid indigo;
    grid-row: 2/2;
    height: 50vh;
    width: 100%;
}
.groupchat-messages-container-div > p {
    height: 10vh;
}
.groupchat-users-container-div > .groupchat-users-div {
    border: 1px solid indigo;
    height: 50vh;
    width: 100%;
}
.groupchat-users-container-div > p {
    height: 10vh;
}